<main role="main">

    <div class="container">
        <header class="">
            <h1>
                About
            </h1>
        </header>
        <hr>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Kitt Livingston</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/kitt.JPG">
                        <div class="overlay">
                            <p class="text">Favorite Drink: 
                                Swift Brewed - Blonde</p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/coffee" role="button">Contact &raquo;</a></p>
                </div>
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Richard Sanchez</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/rich.JPG">
                        <div class="overlay">
                            <p class="text">Favorite Drink: Swift Brew Doubleshot </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/frappucino" role="button">Contact &raquo;</a></p>
                </div>
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Scott Saloom</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/scott.JPG">
                        <div class="overlay">
                            <p class="text">Favorite Drink: Caffe Americano</p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/tea" role="button">Contact &raquo;</a></p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
</main>