<body>
    <div class="container">
        <header class="">
            <h1>Current Order</h1>
        </header>
        <hr>
        <br>
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Leadership Team</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Vanilla Bean Creme</td>
                                <td>Cold Frappucino</td>
                                <td>$3.95</td>
                            </tr>
                            <tr>
                                <td>Chai Tea Latte</td>
                                <td>Hot Tea</td>
                                <td>$4.25</td>
                            </tr>
                            <tr>
                                <td>Flat White</td>
                                <td>Hot Coffee</td>
                                <td>$5.12</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <a class="btn car-Btn" href="/orders">
                    Create Order Template
                </a>
            </div>
            <br>
        </div>
    </div>
</body>