<body>
    <div class="container">
        <header class="">
            <h1>Order Templates</h1>
        </header>
        <hr>
        <div class="show">
            <a class="btn car-Btn" href="/cart">
                Current Order
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Monday Crew</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Swift Brewed - Blonde</td>
                                <td>Hot Coffee</td>
                                <td>$2.45</td>
                            </tr>
                            <tr>
                                <td>Cold Brew</td>
                                <td>Cold Coffee</td>
                                <td>$3.25</td>
                            </tr>
                            <tr>
                                <td>Caffe Americano</td>
                                <td>Hot Coffee</td>
                                <td>$2.95</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
           <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Leadership Team</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Vanilla Bean Creme</td>
                                <td>Cold Frappucino</td>
                                <td>$3.95</td>
                            </tr>
                            <tr>
                                <td>Chai Tea Latte</td>
                                <td>Hot Tea</td>
                                <td>$4.25</td>
                            </tr>
                            <tr>
                                <td>Flat White</td>
                                <td>Hot Coffee</td>
                                <td>$5.12</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>